In [1]:
import numpy as np
import pandas as pd

In [2]:
energy_dataset = pd.read_csv(r"energydata_complete.csv")

In [3]:
energy_dataset.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

- T1, Temperature in kitchen area, in Celsius
- RH_1, Humidity in kitchen area, in %
- T2, Temperature in living room area, in Celsius
- RH_2, Humidity in living room area, in %
- T3, Temperature in laundry room area
- RH_3, Humidity in laundry room area, in %
- T4, Temperature in office room, in Celsius
- RH_4, Humidity in office room, in %
- T5, Temperature in bathroom, in Celsius
- RH_5, Humidity in bathroom, in %
- T6, Temperature outside the building (north side), in Celsius
- RH_6, Humidity outside the building (north side), in %
- T7, Temperature in ironing room , in Celsius
- RH_7, Humidity in ironing room, in %
- T8, Temperature in teenager room 2, in Celsius
- RH_8, Humidity in teenager room 2, in %
- T9, Temperature in parents room, in Celsius
- RH_9, Humidity in parents room, in %
- To, Temperature outside (from Chievres weather station), in Celsius
- Pressure (from Chievres weather station), in mm Hg
- RH_out, Humidity outside (from Chievres weather station), in %
- Wind speed (from Chievres weather station), in m/s
- Visibility (from Chievres weather station), in km
- Tdewpoint (from Chievres weather station), Â°C
- rv1, Random variable 1, nondimensional
- rv2, Random variable 2, nondimensional

In [4]:


# column_names = {'T1':'Temperature in kitchen area', 'RH_1': 'Surface_Area', 
#                 'X3':  'Wall_Area', 'X4': 'Roof_Area', 'X5': 'Overall_Height',
#                 'X6': 'Orientation', 'X7': 'Glazing_Area', 
#                 'X8': 'Glazing_Area_Distribution', 
#                 'Y1': 'Heating_Load', 'Y2': 'Cooling_Load'}


# energy_dataset = energy_dataset.rename(columns=column_names)
energy_dataset.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
corr = energy_dataset['rv1'].corr(energy_dataset['rv2'])

In [6]:
print(corr)

0.9999999999999999

In [7]:
energy_dataset = energy_dataset.drop(['rv2'], axis= 1)

In [8]:
energy_dataset.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097

In [9]:
x = energy_dataset['T2']
y = energy_dataset['T6']

In [10]:
y.shape

(19735,)

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [12]:
new_df = energy_dataset.drop(['date', 'lights'], axis=1)
cols = new_df.columns

In [13]:
new_df[cols] = scaler.fit_transform(new_df)

In [14]:
x = energy_dataset['T2']
y = energy_dataset['T6']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(x, 
                                                    y, 
                                                    test_size = 0.20, 
                                                    random_state = 42)
X_train = X_train.to_numpy()
X_test = X_test.to_numpy()
y_train= y_train.to_numpy()
y_test = y_test.to_numpy()

LR = LinearRegression()
# fitting the training data

LR.fit(X_train.reshape(-1, 1),y_train)

LinearRegression()

In [16]:
y = new_df['Appliances']
x = new_df.drop(['Appliances'], axis=1)

In [17]:
from sklearn.metrics import r2_score

In [18]:
y_pred = LR.predict(X_test.reshape(-1, 1))
r2 = r2_score(y_test, y_pred,multioutput='variance_weighted')

In [19]:
print(r2)

0.6385443715749319

In [20]:
y.head()

0    0.046729
1    0.046729
2    0.037383
3    0.037383
4    0.046729
Name: Appliances, dtype: float64

In [21]:
X_train, X_test, y_train, y_test = train_test_split(x, 
                                                    y, 
                                                    test_size = 0.30, 
                                                    random_state = 42)

In [22]:
LR = LinearRegression()
# fitting the training data

LR.fit(X_train,y_train)

LinearRegression()

In [23]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [24]:
y_pred = LR.predict(X_test)

In [25]:
mae = mean_absolute_error(y_true= y_test, y_pred=y_pred)

In [26]:
mae

0.050133623977429514

In [27]:

rss = np.sum(np.square(y_test - y_pred))
round(rss, 3) 
print(rss)

45.347629672663764

In [28]:
mse = mean_squared_error(y_true=y_test, y_pred=y_pred, squared=True)
rmse = mean_squared_error(y_true=y_test, y_pred=y_pred, squared=False)

In [29]:
print(rmse)

0.0875144494766171

In [30]:

r2 = r2_score(y_test, y_pred,multioutput='variance_weighted')

In [31]:
print(r2)

0.14890246319303546

In [32]:
importance = LR.coef_
cc= x.columns
coll =[]
val = []
for col in cc:
	coll.append(col)
# summarize feature importance
for i,v in enumerate(importance):
	val.append(v)
	print('Feature: '+coll[i], 'Score: %.5f' % (v))
print(val.index(min(val)))

Feature: T1 Score: -0.00328
Feature: RH_1 Score: 0.55355
Feature: T2 Score: -0.23618
Feature: RH_2 Score: -0.45670
Feature: T3 Score: 0.29063
Feature: RH_3 Score: 0.09605
Feature: T4 Score: 0.02898
Feature: RH_4 Score: 0.02639
Feature: T5 Score: -0.01566
Feature: RH_5 Score: 0.01601
Feature: T6 Score: 0.23642
Feature: RH_6 Score: 0.03805
Feature: T7 Score: 0.01032
Feature: RH_7 Score: -0.04461
Feature: T8 Score: 0.10200
Feature: RH_8 Score: -0.15760
Feature: T9 Score: -0.18994
Feature: RH_9 Score: -0.03980
Feature: T_out Score: -0.32186
Feature: Press_mm_hg Score: 0.00684
Feature: RH_out Score: -0.07767
Feature: Windspeed Score: 0.02918
Feature: Visibility Score: 0.01231
Feature: Tdewpoint Score: 0.11776
Feature: rv1 Score: 0.00154
3

In [33]:
m = importance
print(m)

[-0.00328105  0.5535466  -0.23617792 -0.45669795  0.29062714  0.09604827
  0.028981    0.02638578 -0.01565684  0.01600579  0.23642491  0.03804865
  0.01031878 -0.04461364  0.10199505 -0.15759548 -0.18994077 -0.03980032
 -0.32185967  0.00683933 -0.07767065  0.02918313  0.01230661  0.11775773
  0.0015402 ]

In [34]:
from sklearn.linear_model import Ridge
clf = Ridge(alpha=0.4)
clf.fit(X_train, y_train)

Ridge(alpha=0.4)

In [35]:
ridge_y = clf.predict(X_test)

In [36]:
rms = mean_squared_error(y_true=y_test, y_pred=ridge_y, squared=False)

In [37]:
print(rms)

0.087533854291325

In [38]:
from sklearn import linear_model
clf = linear_model.Lasso(alpha=0.001)
clf.fit(X_train, y_train)
lass_y = clf.predict(X_test)

In [39]:
rms = mean_squared_error(y_true=y_test, y_pred=lass_y, squared=False)

In [40]:
print(rms)

0.09358170467245137

In [41]:
importance = clf.coef_
cc= x.columns
coll =[]
val = []
for col in cc:
	coll.append(col)
# summarize feature importance
for i,v in enumerate(importance):
	val.append(v)
	print('Feature: '+coll[i], 'Score: %.5f' % (v))
print(val.index(min(val)))

Feature: T1 Score: 0.00000
Feature: RH_1 Score: 0.01788
Feature: T2 Score: 0.00000
Feature: RH_2 Score: -0.00000
Feature: T3 Score: 0.00000
Feature: RH_3 Score: 0.00000
Feature: T4 Score: -0.00000
Feature: RH_4 Score: 0.00000
Feature: T5 Score: -0.00000
Feature: RH_5 Score: 0.00000
Feature: T6 Score: 0.00000
Feature: RH_6 Score: -0.00000
Feature: T7 Score: -0.00000
Feature: RH_7 Score: -0.00000
Feature: T8 Score: 0.00000
Feature: RH_8 Score: -0.00011
Feature: T9 Score: -0.00000
Feature: RH_9 Score: -0.00000
Feature: T_out Score: 0.00000
Feature: Press_mm_hg Score: -0.00000
Feature: RH_out Score: -0.04956
Feature: Windspeed Score: 0.00291
Feature: Visibility Score: 0.00000
Feature: Tdewpoint Score: 0.00000
Feature: rv1 Score: -0.00000
20